






#guitaristImage{
    max-width: 600px;
    max-height: 700px;
}

#guitarImage{
    max-width: 500px;
    max-height: 600px;
}

 * {cursor: url(https://cur.cursors-4u.net/others/oth-5/oth481.cur), auto !important;} 