body{
    font-family: "New Rocker", system-ui;
}

.new-rocker-regular {
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
  }
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    
}


main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#guitaristImage{
    max-width: 600px;
    max-height: 700px;
}

#guitarImage{
    max-width: 500px;
    max-height: 600px;
}

 * {cursor: url(https://cur.cursors-4u.net/others/oth-5/oth481.cur), auto !important;
}
#guitaristDetails{
    display: none;
}
#guitarDetails{
    display: none;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#billAndTed{
    display: flex;
    padding-top: 10%;
    
    max-width: 200px; 
    max-height: 200px;
}
button:hover {
    opacity: 50%;

}
button:active{
    background-color: black;
    transform: translateY(4px)
}
#excellent{
    max-width: 40px;
    max-height: 40ps;
    border: none;
    background-color: inherit;
    position: absolute;
    bottom: 20px;
}